    <div class="row-fluid">
        <div class="span4">
            <h3><%= firstName %> <%= lastName %></h3>
            <h4>Department: <%= department %></h4>
            <h4>Position: <%= title %></h4>
            <p><img src="pics/<%= firstName %>_<%= lastName %>.jpg" width="160" height="160"/></p>
        </div>
        <div class="span8">
            <br />
            <%
            if (managerId) {
            %>
            <p>Manager: <a href='#employees/<%= managerId %>'><%= managerName %></a></p>
            <%
            }
            %>
            <p>Office: <%= city %>, <%= state %>, <%= country %></p>
            <p>Office Phone: <%= officePhone %></p>
            <p>Cell Phone: <%= cellPhone %></p>
            <p>Email: <%= email %></p>
            <p>Twitter: <a href="http://www.twitter.com/<%= twitterId %>"><%= twitterId %></a></p>
            <p>Blog: <a href="<%= blog %>"><%= blog %></a></p>
            <p>LinkedIn: <a href="<%= linkedInURL %>"><%= linkedInURL %></a></p>
            <br />
            <p>Expertise: <%= expertise %></p>
        </div>
    </div>